<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form8" name="form8" method="post" action="/AddVegetables_post" enctype="multipart/form-data">
  <table width="336" height="211" border="1">
    <caption>ADD VEGETABLE
    </caption>
    <tr>
      <td width="102">Name</td>
      <td width="218"><label>
        <input type="text" name="textfield" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Color</td>
      <td><label>
        <input type="text" name="textfield2" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Shape</td>
      <td><label>
        <input type="text" name="textfield3" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Size</td>
      <td><label>
        <input type="text" name="textfield4" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Texture</td>
      <td><label>
        <input type="text" name="textfield5" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="file" />
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="center"><label>
        <input type="submit" name="submit"    value="REGISTER" />
        </label>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
