{% extends 'admin/admin_index.html' %}
{% block body %}


<table border="1">
    <tr>
        <td>
           <a href="/AddVegetables">add veg</a>
        </td>
    </tr>



        <tr>
        <td>
           <a href="/ViewVegetables">view veg</a>
        </td>
    </tr>



        <tr>
        <td>
           <a href="/UploadRecipe">add recipes</a>
        </td>
    </tr>

        <tr>
        <td>
           <a href="/ViewRecipe">view recipes</a>
        </td>
    </tr>

        <tr>
        <td>
           <a href="/ViewStore">view stors</a>
        </td>
    </tr>

    <tr>
        <td>
           <a href="/ViewComplaints">complaints</a>
        </td>
    </tr>

        <tr>
        <td>
           <a href="">password</a>
        </td>
    </tr>


       <tr>
        <td>
           <a href="">logout</a>
        </td>
    </tr>

</table>

</body>
{% endblock %}