{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form7" name="form7" method="post" action="/EditVegetables_post" enctype="multipart/form-data">
  <table width="336" height="211" border="1" >
    <caption>
      EDIT VEGETABLE
    </caption>
    <tr>
      <td width="102">Name</td>
      <td width="218"><label>
        <input type="text" name="textfield" value="{{data['name']}}"/>
        <input type="hidden" name="id" value="{{data['veg_id']}}"/>
        </label>
      </td>
    </tr>
    <tr>
      <td>Color</td>
      <td><label>
        <input type="text" name="textfield2" value="{{data['color']}}"/>
        </label>
      </td>
    </tr>
    <tr>
      <td>Shape</td>
      <td><label>
        <input type="text" name="textfield3" value="{{data['shape']}}" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Size</td>
      <td><label>
        <input type="text" name="textfield4"  value="{{data['size']}}"/>
        </label>
      </td>
    </tr>
    <tr>
      <td>Texture</td>
      <td><label>
        <input type="text" name="textfield5" value="{{data['texture']}}" />
        </label>
      </td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="file" value="{{data['path']}}"/>
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="center"><label>
        <input type="submit" name="submit"    value="EDIT" />
        </label>
      </td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>

{% endblock %}