<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/EditProduct_post" enctype="multipart/form-data">
  <table width="409" height="180" border="1">
    <caption>
      Edit Product
    </caption>
    <tr>
      <td width="94" rowspan="4"><img src="img" alt="store" width="81" height="90" /></td>
      <td width="75">Name</td>
      <td width="218">&nbsp; <input type="text" name="textfield" value="{{data['name']}}"/></td>
        <input type="hidden" name="id" value="{{data['product_id']}}"/>
    </tr>
    <tr>
      <td>Price</td>
      <td>&nbsp; <input type="text" name="textfield2" value="{{data['price']}}"/></td>
    </tr>
     <tr>
      <td>Stock</td>
      <td>&nbsp; <input type="text" name="textfield3" value="{{data['stock']}}"/></td>
    </tr>
    <tr>
      <td>Made Date </td>
      <td>&nbsp; <input type="text" name="textfield4" value="{{data['made_date']}}"/></td>
    </tr>
    <tr>
      <td></td>
      <td>Image</td>
      <td>&nbsp;
          <input type="file" name="file" /></td>
    </tr>
    <tr>
      <td colspan="3" align="center"><label>
        <input type="submit" name="submit"    value="EDIT" />
        </label>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
